img {
	width: 100px;
	height: 100px;
	float: left;
};

/* General Elements*/
body{
	background-image: url("../images/background.png")
}
div {
	background-color: white;
	margin: 10px;
	border: solid 2px antiquewhite;
	padding: 10px;
	margin: auto;
}
h1, h3, span{
	font-weight: bold;
	text-align: center;
}
h1{
	font-size: 30pt;
}
ol{
	list-style: decimal inside; 
}
ul {
	list-style: disc inside;
	text-indent: 20px;
}
/* Specfic Elements*/
div.header, div.gems{
	background-color: #e0e0eb;
}
div.header, div.instructions{
	margin: auto;
}
/* Classes */
.number-to-guess, .wins-and-losses{
	float: left;
	height: 60px;
	vertical-align: middle;
}
.userTotal{
	height: 60px;
}
.gems{
	clear: both;
	height: 130px;
}

.gemImage {
	margin: 10px;
}

#main-section {
	max-width: 650px;
}

